# DB configs
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pass
POSTGRES_HOST=db-currency-wallet
POSTGRES_NAME=bank
POSTGRES_PORT=5432

POSTGRES_USER_EXCHANGER=test_user
POSTGRES_PASSWORD_EXCHANGER=test_pass
POSTGRES_HOST_EXCHANGER=db-exchanger
POSTGRES_NAME_EXCHANGER=exchanger
POSTGRES_PORT_EXCHANGER=5431

# Http
HTTP_PORT=8080
HTTP_OUT_PORT=8080

# gRPC
GRPC_ADDR=0.0.0.0
GRPC_PORT=50051
GRPC_OUT_PORT=50051

# Settings
MAX_DB_CONNECTIONS=4
MIN_DB_CONNECTIONS=1
READ_HEADER_TIMEOUT=5
READ_TIMEOUT=5
WRITE_TIMEOUT=20
IDLE_TIMEOUT=120

# Exchanger logging: DEBUG, INFO, WARN, ERROR
LOG_LEVEL_EXCHANGER=INFO

# Wallet logging: DEBUG, INFO, WARN, ERROR
LOG_LEVEL_WALLET=INFO
