# DB config
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pass
POSTGRES_HOST=db
POSTGRES_NAME=bank
POSTGRES_PORT=5432

# Http
HTTP_ADDR=8080
HTTP_PORT=8080

# Settings
MAX_DB_CONNECTIONS=8
MIN_DB_CONNECTIONS=1
READ_HEADER_TIMEOUT=5
READ_TIMEOUT=5
WRITE_TIMEOUT=20
IDLE_TIMEOUT=120
